/*Custom fonts--------------------------------------------------------------*/
@font-face {
  font-family: "Colus";
  src: url(../fonts/Colus-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Avenir";
  src: url(../fonts/Avenir.ttc) format("opentype");
}

/*General styles------------------------------------------------------------*/
html {
  height: 100%;
  font-size: 16px;
  background-color: #FFF;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Avenir";
  font-weight: 300;
}

.flex {
  display: flex;
}

.avenir {
  font-family: "Avenir";
  font-weight: 900;
  letter-spacing: 1.3px;
  text-align: left;
}

.colus {
  font-family: "Colus";
}

h1 {
  color: #FF0000;
  font-size: 1.6rem;
  letter-spacing: 1.04px;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.4s ease;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  font-size: 18px;
}

/*Intro---------------------------------------------------------------------*/
.intro {
  background-color: #000;
  width: 100%;
  height: 100%;
}

.logo {
  height: 100%;
  justify-content: center;
  align-content: center;
}

.logo img {
  width: 20%;
}

/*Navbar--------------------------------------------------------------------*/
.header {
  width: 100%;
  background-color: #FFF;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  height: 100px;
  position: absolute
}

.fixed {
  position: fixed;
  top: 0;
  left:0;
}

.header img {
  height: 50%;
}

.hamburger {
  display: inline-block;
  height: 45%;
  cursor: pointer;
}

.hamburger:hover {
  transform: rotate(270deg);
}

.header label {
  display: flex;
  align-items: center;
  height: 100%;
}

/*Menu----------------------------------------------------------------------*/
.lower{
  display:none;
}

input{
  display:none;
}

label:hover{
  cursor: pointer;
}

li label:hover {
  transform: none;
}

.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0);
}

menu {
  width: 70%;
  height: 100%;
  margin: -3rem auto 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

menu label{
	width: 29px;
	height: 29px;
  text-align: right;
	z-index: 100;
  cursor: pointer;
}

img.close {
  width: 100%;
  height: 100%;
}

menu nav {
  width: 80%;

  margin-left: auto;
  margin-right: auto;
	text-align: left;

	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

menu ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	height: 100%;
}

menu ul li {
	display: block;
	min-height: 54px;
}

menu ul li a {
  color: #FF0000;
	display: block;
  text-decoration:none;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

menu ul li a:hover,
menu ul li a:focus {
	color: #FFF;
  font-size: 54px;
}

menu .social {
  margin: 10rem 0 10rem;
  text-align: right;
}

.lower~.overlay-hugeinc{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

#op:checked~.overlay-hugeinc{
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-moz-perspective: 300px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

#op:checked~.overlay-hugeinc nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

#op:not(:checked)~.overlay-hugeinc nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

/*About me------------------------------------------------------------------*/
.about {
  justify-content: space-between;
  margin: 10rem auto 15rem;
  height: 50%;
}

.about p {
  font-size: 2.2rem;
  margin: 150px 125px 10px 110px;
}

.about img {
  width: 500px;
  height: 500px;
}

/*Para qué soy buena--------------------------------------------------------*/
.skills {
  width: 80%;
  margin: 5rem auto 15rem;
}

.caboodle {
  justify-content: space-around;
  margin: 100px 100px;
}

.spell {
  flex-direction: column;
  align-content: center;
}

.spell img {
  margin: 30px auto;
}

.spell h2 {
  margin-bottom: 15px;
  font-size: 1.3rem;
}

.spell li {
  font-size: 1.1rem;
}

li {
  line-height: 1.2;
}

/*Portafolio----------------------------------------------------------------*/
.portafolio {
  width: 80%;
  margin: 5rem auto 15rem;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin: 100px 0;
}

.grid img {
  width: 100%;
}

.portafolio a {
  font-size: 1.4rem;
}

/*Footer--------------------------------------------------------------------*/
footer {
  background-color: #000;
  width: 100%;
  height: 90%;
  padding-top: 1rem;
}

.quote {
  margin: 15rem auto 20rem;
  text-align: center;
  text-transform: uppercase;
}

.quote h1 {
  font-size: 2.7rem;
  text-align: center;
}

.quote h3 {
  font-size: 1.9rem;
  margin-top: 4rem;
  color: #FF0000;
}

.social {
  text-align: center;
  font-size: 3rem;
}

.social a {
  color: #FFF;
}

.social a:hover {
  font-size: 2.7rem;
}
