/*Custom fonts--------------------------------------------------------------*/
@font-face {
  font-family: "Colus";
  src: url(../fonts/Colus-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Avenir";
  src: url(../fonts/Avenir.ttc) format("opentype");
}

/*General styles------------------------------------------------------------*/
html {
  height: 100%;
  font-size: 16px;
  background-color: #FFF;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Avenir";
  font-weight: 300;
}

.flex {
  display: flex;
}

.avenir {
  font-family: "Avenir";
  font-weight: 900;
  letter-spacing: 1.3px;
  text-align: left;
}

.colus {
  font-family: "Colus";
}

h1 {
  color: #FF0000;
  font-size: 1.6rem;
  letter-spacing: 1.04px;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.4s ease;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  font-size: 18px;
}

/*Intro---------------------------------------------------------------------*/
.intro {
  background-color: #000;
  width: 100%;
  height: 100%;
}

.logo {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 20%;
}

.scroll {
  position: absolute;
  bottom: 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 5%;
  transition: all 0.5s ease;
  margin-bottom: -1px;
}

.scroll:hover {
  height: 6%;
}

.scroll img {
  height: 100%;
  width: 100%;
}

.scroll p {
  color: #FF0000;
  margin-bottom: 1rem;
}

/*Navbar--------------------------------------------------------------------*/
.header {
  width: 100%;
  background-color: #FFF;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  height: 100px;
  position: absolute
}

.fixed {
  position: fixed;
  top: 0;
  left:0;
}

.header img {
  height: 50%;
}

.hamburger {
  display: flex;
  align-items: center;
  height: 45%;
  cursor: pointer;
}

.hamburger:hover {
  transform: rotate(270deg);
}

/*Menu----------------------------------------------------------------------*/
.overlay {
  display: block;
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  width: 70.5%;
  height: 70%;
  margin: 5rem auto 15rem;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration:;
  font-size: 3rem;
  color: #FF0000;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

.list {
  margin: 10rem 0 10rem 10rem;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  float: right;
  display: flex;
  align-items: center;
  cursor: pointer;

}

.closebtn:hover {
  transform: rotate(225deg);
}

.closebtn img {
  height: 2rem;
  width: 2rem;
}

.overlay .social {
  display: flex;
  float: right;
}

/*About me------------------------------------------------------------------*/
.about {
  justify-content: space-between;
  margin: 6rem auto 5rem;
  padding-top: 100px;
  height: 50%;
}

.about p {
  font-size: 2.1rem;
  margin: 150px 125px 10px 110px;
}

.about img {
  width: 500px;
  height: 500px;
}

/*Para qué soy buena--------------------------------------------------------*/
.skills {
  width: 80%;
  margin: 5rem auto 15rem;
  padding-top: 100px;
}

.caboodle {
  justify-content: space-around;
  margin: 100px 100px;
}

.spell {
  flex-direction: column;
  align-content: center;
}

.spell img {
  margin: 30px auto;
}

.spell h2 {
  margin-bottom: 15px;
  font-size: 1.3rem;
}

.spell li {
  font-size: 1.1rem;
}

li {
  line-height: 1.2;
}

/*Portafolio----------------------------------------------------------------*/
.portafolio {
  width: 80%;
  margin: 5rem auto 15rem;
  padding-top: 100px;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin: 100px 0;
}

.grid img {
  width: 100%;
}

.portafolio a {
  font-size: 1.4rem;
}

/*Footer--------------------------------------------------------------------*/
footer {
  background-color: #000;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.quote {
  margin: 10rem auto 1rem;
  text-align: center;
  text-transform: uppercase;
}

.quote h1 {
  font-size: 2.7rem;
  text-align: center;
}

.quote h3 {
  font-size: 1.9rem;
  margin-top: 4rem;
  color: #FF0000;
}

.social {
  text-align: center;
  font-size: 3rem;
}

.social a {
  color: #FFF;
}

.social a:hover {
  font-size: 2.7rem;
}

/*Project-------------------------------------------------------------------*/
.project {
  width: 100%;
  padding-top: 100px;
  justify-content: flex-end;
}

.project .description {
  width: 50%;
  margin: 2rem 5rem;
  flex-direction: column;
  position: fixed;
  left: 0;
}

.project .images {
  width: 50%;
  float: right;
}

.project .images img {
  width: 100%;
  margin-bottom: 2rem;
}

.project .description h1 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1.6px;
  color: #000;
}

.project .description h2 {
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.project .description h3 {
  margin: 3rem 0;
}

.project .description p {
  line-height: 1.4;
  margin-bottom: 3rem;
  width: 70%;
}

.project .description a {
  margin: 1rem 0;
}

.project .description a:hover {
  font-size: 1.1rem;
}

/*Media Queries-------------------------------------------------------------*/
/*Landscape tablets*/
@media only screen and (max-width: 1400px) {
  html {
    font-size: 15px;
  }
}

/*Portrait tablets*/
@media all and (max-width: 1024px) {
  html {
    font-size: 15px;
  }

  .about {
    height: 40%;
  }

  .about p {
    font-size: 1.5rem;
    margin: 8rem 4rem 3rem;
  }

  .skills, .portafolio {
    margin: 5rem auto;
  }

  .caboodle {
    flex-flow: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 100px;
  }

  .spell {
    margin-top: 2rem;
    align-items: center;
    width: 50%;
  }
}

/*Phones and such*/
@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }

  .caboodle {
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 100px;
  }
}
